/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root{
    /*color-scheme:dark;*/
}
body {
    background-color: #f8f9fa; /* Fondo claro */
}
.navbar {
    background-color: #0056b3; /* Color de fondo de la barra de navegación */
}
.navbar-brand, .nav-link {
    color: #fff !important; /* Color de texto blanco para la navbar */
}
.navbar-brand:hover, .nav-link:hover {
    color: #e0e0e0 !important; /* Color de texto al pasar el ratón */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #e0e0e0; /* Color de fondo del pie de página */
    color: #ffffff; /* Color de texto blanco para el pie de página */
}
footer a {
    color: #ffffff; /* Color de texto blanco para enlaces en el pie de página */
}

footer a:hover {
    color: #cccccc; /* Color de texto al pasar el ratón sobre enlaces */
}

main {
    padding: 2rem; /* Padding para el contenido principal */
}