html {
    font-size: 14px;
    
    
}

/*@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*color-scheme: dark;*/
    
}
.nav-link{
    color:white !important;
}
.custom-container{
    width:80%;
    height:70vh;
}
.card-header-custom {
    background-color: #0056b3 !important;
}